<div class="container">
    <div class="row">
      <form [formGroup]="loginform" (ngSubmit)="login()">
        <mat-form-field style="margin-left: 10px;margin-right: 10px;">
            <mat-label>Email</mat-label>
            <input matInput name="name" formControlName="Email" >
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;margin-right: 10px;">
            <mat-label>Password</mat-label>
            <input matInput name="name" formControlName="Password" >
        </mat-form-field>
        <button mat-raised-button type="submit" mat-raised-button color="primary">signin</button>       
      </form>
    </div>
  </div>
